html{
    margin:20px;
}

body{
    background-color: #EDE8E1;
}

.jumbotron {
    background-color: #B1DEE0;
    /* background:#B1DEE0 url("../Img/Bg6.png") no-repeat; */
}

.headerStyle {
    margin-bottom:10px !important;
    padding-top: 10px;
}

.navbar{
    background-color: #B1DEE0;
}

.navbar-default .navbar-nav li a{
    color: #000b0c;
    font-weight: bold;
}

.active {
    text-decoration: underline;
  }

.navbar-default .navbar-nav li a:hover {
	background-color:#EDE8E1;
	height: 100%;
}

#description{
    margin: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.textAreaStyle{
    margin: 15px;
    resize: none;
}

.btn-success{
    margin-top: 15px; 
    width:70px;
}

.btn-info{
    margin-top:10px;
    width:70px;
}

#result{
    height: 40px;
}

#PositiveResultStyle, #NegativeResultStyle{
    margin-left: 15px;
    display:none
}

#loadingBtn{
    width: 150px; 
    display: none;
}

#plotyContainer {
    margin: 30px;
}

#plotlyPie {
    margin-top:15px
}

#errorMsgEmotion{ 
    color: red;
    display: none;
}
#errorMsg { 
    color: red;
    display: none;
    margin-left: 15px;
}

#dropdownInfo{
    color: black;
    border: 2px solid;
    background-color: white;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#selectionText{
    margin-top:15px;
}

.revAreaStyle{
    resize: none;
    margin-left: -1px;
    margin-top: 15px;
}

#product_review {
    width: 10px;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tr{
    margin-top:5px;
    border: 1px solid grey;
    padding: 5px;
}

table td{
    border: 1px solid grey;
    padding: 5px;
}

